<h1>Welcome!</h1>

<form id="search_form">
  <label for="search">Enter hashtag</label>
  <input type="text" name="search" id="search_field"><br>
  <input type="submit" value="Submit">
</form>

<div id="frame"></div>